{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "30"
        },
        "modules": false,
        "useBuiltIns": false,
        "exclude": ["transform-regenerator"]
      }
    ]
  ]
}

